[_nghost-c1],[_nghost-c2],[_nghost-c3],[_nghost-c4]{
    position: absolute;
}

[_nghost-c1]{
    width: 100%;
    height: 10%;
    left: 0%;
    top: 0%;
}
[_nghost-c3]{
    width: 100%;
    height: 20%;
    left: 0%;
    top: 80%;
    background-color: black;
    color: white;
    overflow: scroll;
}
[_nghost-c2]{
    width: 20%;
    height: 66%;
    left: 0%;
    top: 12%;
}
[_nghost-c4]{
    width: 75%;
    height: 66%;
    left: 25%;
    top: 12%;    
}


.button {
    padding: 5px 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  