<!-- Top navigation -->
<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
    <b class="active">SDS simulatorUI</b>
  </div>

  <!-- Left-aligned links (default) -->
  <b><mat-icon>home</mat-icon></b>


  <!-- Right-aligned links -->
  <div class="topnav-right">
      <mat-slide-toggle (change)="slideChange()" [(ngModel)]="slideValue">
        <span style="color:wheat" *ngIf="slideValue">
          Server On
        </span> 
        <span style="color:wheat" *ngIf="!slideValue">
            Server Off
          </span> 
      </mat-slide-toggle>
  </div>
</div>
