
<mat-form-field>
    <input matInput placeholder="Card Number" [(ngModel)]="newEmployee.CardNumber">
  </mat-form-field>
    <button mat-fab color="primary" (click)="add()">Add</button>
<table mat-table [dataSource]="employees" class="mat-elevation-z8" id="tableView">
  
    <ng-container matColumnDef="CardNumber">
      <th mat-header-cell *matHeaderCellDef> Card Number </th>
      <td mat-cell *matCellDef="let element"> {{element.CardNumber}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef>   </th>
        <td mat-cell *matCellDef="let element"> <i class="material-icons deleteIcon" (click)="delete(element)">
            delete
            </i>
           </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>